USE [master]
GO
/****** Object:  Database [Dev_Billing]    Script Date: 10/12/2021 17:00:53 ******/
CREATE DATABASE [Dev_Billing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dev_Billing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dev_Billing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dev_Billing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dev_Billing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Modern_Spanish_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dev_Billing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [BUILTIN\Usuarios]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [BUILTIN\Usuarios] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/****** Object:  Login [Andy\lopez]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [Andy\lopez] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Español]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'4HmT7kYSUBz7IHNhcFFWkBg9LDrGqtSv5160T2E/+4M=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 10/12/2021 17:00:54 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'6GTN5kW+rGx3QZryeT5krU0y62T3YrVsDCgyQ+07plY=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [Andy\lopez]
GO
USE [Dev_Billing]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[tbl_Client]    Script Date: 10/12/2021 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[LastName] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[Age] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[Identification] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[Email] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Client] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 10/12/2021 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tbl_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 10/12/2021 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ProductOrder]    Script Date: 10/12/2021 17:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductOrder](
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tbl_ProductOrder] WITH ROWCOUNT = 0, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[tbl_Client] ON 

INSERT [dbo].[tbl_Client] ([ClientId], [FirstName], [LastName], [Age], [Identification], [Email], [CreationDate]) VALUES (1, N'Andres', N'Lopez', N'23', N'13131313131', N'lopezavellaneda@hotmail.es', CAST(N'2021-12-10T16:30:40.070' AS DateTime))
INSERT [dbo].[tbl_Client] ([ClientId], [FirstName], [LastName], [Age], [Identification], [Email], [CreationDate]) VALUES (2, N'Mario', N'Fernandez', N'30', N'10030393', N'fmario@gmail.com', CAST(N'2021-12-10T16:31:01.840' AS DateTime))
INSERT [dbo].[tbl_Client] ([ClientId], [FirstName], [LastName], [Age], [Identification], [Email], [CreationDate]) VALUES (3, N'Camilo', N'Ramirez', N'33', N'101938875', N'cam.ram@gmail.com', CAST(N'2021-12-10T16:31:29.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Client] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Order] ON 

INSERT [dbo].[tbl_Order] ([OrderId], [ClientId], [PurchaseDate], [Total]) VALUES (1, 1, CAST(N'2021-12-10T16:34:57.907' AS DateTime), CAST(31000 AS Decimal(18, 0)))
INSERT [dbo].[tbl_Order] ([OrderId], [ClientId], [PurchaseDate], [Total]) VALUES (2, 2, CAST(N'2021-12-10T16:35:06.840' AS DateTime), CAST(120000 AS Decimal(18, 0)))
INSERT [dbo].[tbl_Order] ([OrderId], [ClientId], [PurchaseDate], [Total]) VALUES (3, 3, CAST(N'2021-12-10T16:35:12.420' AS DateTime), CAST(85000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tbl_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Product] ON 

INSERT [dbo].[tbl_Product] ([ProductId], [Name], [Quantity], [Price], [CreationDate]) VALUES (1, N'Maleta', 10, CAST(109000 AS Decimal(18, 0)), CAST(N'2021-12-10T16:34:02.917' AS DateTime))
INSERT [dbo].[tbl_Product] ([ProductId], [Name], [Quantity], [Price], [CreationDate]) VALUES (2, N'Cartuchera', 10, CAST(19000 AS Decimal(18, 0)), CAST(N'2021-12-10T16:34:32.803' AS DateTime))
INSERT [dbo].[tbl_Product] ([ProductId], [Name], [Quantity], [Price], [CreationDate]) VALUES (3, N'Lapiceros', 31, CAST(900 AS Decimal(18, 0)), CAST(N'2021-12-10T16:34:43.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Product] OFF
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[tbl_Client] ([ClientId])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbl_Client]
GO
ALTER TABLE [dbo].[tbl_ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ProductOrder_tbl_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tbl_ProductOrder] CHECK CONSTRAINT [FK_tbl_ProductOrder_tbl_Order]
GO
ALTER TABLE [dbo].[tbl_ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ProductOrder_tbl_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tbl_Product] ([ProductId])
GO
ALTER TABLE [dbo].[tbl_ProductOrder] CHECK CONSTRAINT [FK_tbl_ProductOrder_tbl_Product]
GO
/****** Object:  Statistic [_WA_Sys_00000002_34C8D9D1]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000002_34C8D9D1] ON [dbo].[tbl_Client]([FirstName]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0E0038000000002302000000000000E301000000000000A7020000A7000000320000000000000028D0000000000000070000005A121001F9AD000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001001D00416E64726573FF010000000000000001000000010000002800000028000000000000000000000006000000416E6472657302000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_34C8D9D1]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000003_34C8D9D1] ON [dbo].[tbl_Client]([LastName]) WITH STATS_STREAM = 0x010000000100000000000000000000003EDCF746000000002102000000000000E101000000000000A7020000A7000000320000000000000028D000000000000007000000C8CA1401F9AD000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000024000000000000005D0000000000000065000000000000006D000000000000000800000000000000300010000000803F000000000000803F04000001001C004C6F70657AFF0100000000000000010000000100000028000000280000000000000000000000050000004C6F70657A02000000400000000001050000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_tbl_Client]    Script Date: 10/12/2021 17:00:54 ******/
UPDATE STATISTICS [dbo].[tbl_Client]([PK_tbl_Client]) WITH STATS_STREAM = 0x010000000100000000000000000000000009401A00000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000EFA8D700FAAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0300000004000001000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_36B12243]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[tbl_Order]([ClientId]) WITH STATS_STREAM = 0x010000000100000000000000000000008B85DA6900000000DB010000000000009B01000000000000380200003800000004000A000000000000000000000000000700000001BACA00FAAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0300000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_tbl_Order]    Script Date: 10/12/2021 17:00:54 ******/
UPDATE STATISTICS [dbo].[tbl_Order]([PK_tbl_Order]) WITH STATS_STREAM = 0x010000000100000000000000000000002A41B07A0000000040000000000000000000000000000000380352693800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_38996AB5]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000002_38996AB5] ON [dbo].[tbl_Product]([Name]) WITH STATS_STREAM = 0x010000000100000000000000000000000A6731E3000000002B02000000000000EB01000000000000A7020000A7000000320000000000000028D000000000000007000000845EA800FAAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100210050726F647563746F2033FF01000000000000000100000001000000280000002800000000000000000000000A00000050726F647563746F2033020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_tbl_Product]    Script Date: 10/12/2021 17:00:54 ******/
UPDATE STATISTICS [dbo].[tbl_Product]([PK_tbl_Product]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000001_3A81B327]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000001_3A81B327] ON [dbo].[tbl_ProductOrder]([ProductId]) WITH STATS_STREAM = 0x01000000010000000000000000000000004978A800000000DB010000000000009B01000000000000380300613800000004000A00000000000000000000000000070000004EC4A700FAAD000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0100000004000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_3A81B327]    Script Date: 10/12/2021 17:00:54 ******/
CREATE STATISTICS [_WA_Sys_00000002_3A81B327] ON [dbo].[tbl_ProductOrder]([OrderId]) WITH STATS_STREAM = 0x010000000100000000000000000000002450FA6A00000000DB010000000000009B01000000000000380300613800000004000A0000000000000000000000000007000000AB27DE00FAAD000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0100000004000002000000000000000000000000000000
GO
USE [master]
GO
